.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 1em;
  background-color: rgb(222, 222, 222);
}

.result_log {
  text-align: left;
}

.header {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 4em;
}

.header .heading {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.4em;
  font-weight: bold;
}

.input {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.buttons {
  display: flex;
  width: 100%;
}

.button {
  font-size: 2.4em;
  color: white;
  font-weight: bold;
  padding: 0.2em 0;
  cursor: pointer;
}

.button.clear {
  flex-grow: 1;
  background-color: rgb(227, 99, 99);
}
.button.clear:hover {
  background-color: rgb(176, 84, 84);
}
.button.go {
  flex-grow: 4;
  background-color: rgb(136, 207, 125);
}
.button.go:hover {
  background-color: rgb(95, 161, 85);
}
.button.reset {
  background-color: rgb(227, 99, 99);
}
.button.reset:hover {
  background-color: rgb(176, 84, 84);
}

.results {
  width: 100%;
  min-height: 30em;
}
