.inputlist {
  height: 100%;
  padding: 0.2em;
  padding-bottom: 1.5em;

  border: 8px solid rgb(148, 148, 148);

  color: white;
}

.inputlist.selected {
  border: 8px solid rgb(179, 61, 61);
}

.inputPoint {
 margin: 0.2em;
}

.iconButton {
}

.iconButton:hover {
  color: white;
  fill: currentColor;
}
