.inputlist {
  box-sizing: border-box;
  border: 8px solid rgb(148, 148, 148);
  color: white;
}

.inputlist.selected {
  border: 8px solid rgb(179, 61, 61);
}

.inputPoint {
 margin: 0.2em;
}

.iconButton {
}

.iconButton:hover {
  color: white;
  fill: currentColor;
}
